<meta http-equiv="refresh" content="8">
{% extends "base.html" %} {% block title %}Animal Capture{% endblock %} 
{% block content %}
</nav>
<div class="container" style="margin:20px auto;">
  
</div>


<!--<br/>
<h1>THIS IS HOME PAGE</h1>
<br/><br/><br/>
<a href="https://translate.google.com/?sl=auto&tl=en&text=RDS&op=translate" target="_blank"><h2>Image Comparison</h2></a>
<br/><br/><br/>
<button type="submit" class="btn btn-primary">Upload</button> 
<a class="py-2 d-none d-md-inline-block" href="#">Features</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Enterprise</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Support</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Pricing</a>
      <a class="py-2 d-none d-md-inline-block" href="#">Cart</a> 
-->

  
 <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
 
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Main Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="dimg" style="width:100%;" src="" alt="" />
          <!-- <img style="width:100%;" src="../static/images/rat-image.jpeg" alt="" /> -->
        </div>
      </div>
    </div>
  </div>
  
  <footer class="container py-5">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Image Store</a></li>
         
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Under the Guidance of</h5>
        <ul class="list-unstyled text-small">
          <li>Prof. Dr. Christian Baun</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Team Members</h5>
        <ul class="list-unstyled text-small">
          
          <li>Sushil</li>
          <li>Vikrant</li>
          <li>Sai</li>
          <li>Zaghman</li>
          <li>Sikha</li>
        </ul>
      </div>
    </div>
  </footer>
{% endblock %}